/* @import url("../font/SukhumvitSet.ttc"); */
@font-face {
  font-family: myFirstFont;
  src: url("../font/SukhumvitSet.ttc");
}
html,
body {
  height: 100%;
  font-family: myFirstFont !important;
}
body {
  margin: 0;
  padding: 0;
}
.grad {
  background: rgba(255, 228, 74, 1);
  background: linear-gradient(
    140deg,
    rgba(255, 205, 104, 1) 0%,
    rgba(255, 180, 112, 1) 40%,
    rgba(255, 70, 70, 1) 100%
  );
  background-attachment: fixed;
}
.txt_underline {
  text-decoration: underline;
}
.footerimg {
  bottom: 27.2pt;
  width: 100%;
}
.credit_footer {
  font-size: 8pt;
  bottom: 15pt;
}
.footer {
  bottom: 0;
  position: absolute;
}

/* card */
.card {
  border-radius: 50px;
  background-color: rgba(255, 255, 255, 0.16) !important;
}

th {
  color: #ff5fa3;
  font-weight: bold;
  font-size: 15pt;
}
tr {
  color: white;
  font-weight: bold;
  font-size: 15pt;
}
table {
  border-spacing: 0ch;
  border-collapse: separate;
}

/* nav */
.navbar {
  position: fixed !important;
  top: 0;
  width: 100%;
  overflow: hidden;
}
.navbar .breadcrumb-item + .breadcrumb-item::before {
  color: #bdbdbd;
}
.navbar .breadcrumb-item.active {
  color: #bdbdbd;
}
.navbar.no-content .breadcrumb-item + .breadcrumb-item::before {
  content: none;
}

/* sidebar */

.btn-default {
  color: #333;
  background-color: #fff;
  border-color: #333;
}

.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

#page-content-wrapper {
  width: 100%;
  padding: 15px;
}

#page-content-wrapper {
  padding: 20px;
}

.sidebar {
  list-style-type: none;
  background-color: white;
  border-color: #333;
  width: 230px;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  text-align: left;
  position: absolute;
  margin: 0;
  padding: 0;
  list-style: none;
  transition: 1s ease;
}

.sidebar a {
  text-decoration: none;
  color: #333;
  transition: 1s ease;
}

.sidebar p {
  text-indent: 10px;
  line-height: 20px;
}

.sidebar li {
  text-indent: 20px;
  line-height: 40px;
  transition: 0.5s ease;
}

.sidebar li:hover {
  background-color: #777;
  cursor: pointer;
  text-indent: 30px;
}

.sidebar > .sidebar-brand {
  height: 65px;
  font-size: 18px;
  line-height: 60px;
}
.w3-teal {
  background: rgb(255, 205, 104);
  background: linear-gradient(
    140deg,
    rgba(255, 205, 104, 1) 0%,
    rgba(255, 180, 112, 1) 40%,
    rgba(255, 70, 70, 1) 100%
  ) !important;
  background-attachment: fixed !important;
}
