/* @import url("../font/SukhumvitSet.ttc"); */
@font-face {
  font-family: myFirstFont;
  src: url("../font/SukhumvitSet.ttc");
}
html,
body {
  height: 100%;
  font-family: myFirstFont !important;
}
body {
  margin: 0;
  padding: 0;
}
.grad {
  background: rgb(255, 205, 104);
  background: linear-gradient(
    140deg,
    rgba(255, 205, 104, 1) 0%,
    rgba(255, 180, 112, 1) 20%,
    rgba(255, 70, 148, 1) 100%
  );
  background-attachment: fixed;
}
.txt_underline {
  text-decoration: underline;
}
.footerimg {
  bottom: 27.2pt;
  width: 100%;
}
.credit_footer {
  font-size: 8pt;
  bottom: 15pt;
}
.footer {
  bottom: 0;
  position: absolute;
}

/* card */
.card {
  border-radius: 50px;
  background-color: rgba(255, 255, 255, 0.16) !important;
}

th {
  color: #ff5fa3;
  font-weight: bold;
  font-size: 15pt;
}
tr {
  color: white;
  font-weight: bold;
  font-size: 15pt;
}
table {
  border-spacing: 0ch;
  border-collapse: separate;
}
