/* @import url("../font/SukhumvitSet.ttc"); */
@font-face {
  font-family: myFirstFont;
  src: url("../font/Mitr-Light.ttf");
}

html,
body {
  height: 100%;
  font-family: myFirstFont !important;
  /* font-size: 62.5% !important; */
}

body {
  margin: 0;
  padding: 0;
}

h1 {
  font-family: myFirstFont !important;
}
h2 {
  font-family: myFirstFont !important;
}
h3 {
  font-family: myFirstFont !important;
}
h4 {
  font-family: myFirstFont !important;
}
h5 {
  font-family: myFirstFont !important;
}
h6 {
  font-family: myFirstFont !important;
}
p {
  font-family: myFirstFont !important;
}
.modal-header {
  border-bottom: none !important;
}
.modal-footer {
  border-top: none !important;
}
.btn-secondary {
  background-color: #7a58bf !important;
}
.card .card-body .card-text {
  color: #212121 !important;
}
/* card */
.card {
  border-radius: 50px;
  background-color: rgba(255, 255, 255, 0.16) !important;
}

/* nav */
.navbar {
  position: fixed !important;
  top: 0;
  width: 100%;
  overflow: hidden;
}

/* desk */

/* #### Mobile Phones Portrait #### */
@media screen and (max-device-width: 480px) and (orientation: portrait){
  .logo{
    font-family: myFirstFont !important;
  }
}

/* #### Mobile Phones Landscape #### */
@media screen and (max-device-width: 640px) and (orientation: landscape){
  /* some CSS here */
}

/* #### Mobile Phones Portrait or Landscape #### */
@media screen and (max-device-width: 640px){
  /* some CSS here */
}

/* #### iPhone 4+ Portrait or Landscape #### */
@media screen and (min-device-width: 320px) and (-webkit-min-device-pixel-ratio: 2){
  .logo{
    display: inline-block;
    top: calc(10);
    position: absolute;
    left: calc(50% - 75px);
    width: 150px;
    z-index: 5000;
    overflow: hidden;
  }
  .container{
    margin-top: 15px !important;
  }
}

/* #### Galaxys5 Portrait #### */
@media (device-height: 640px) and (device-width: 360px) and (-webkit-min-device-pixel-ratio: 2){
  .logo{
    display: inline-block;
    top: 50px;
    position: absolute;
    left: calc(50% - 72px);
    width: 144px;
    z-index: 5000;
    overflow: hidden;
  }
  .container{
    margin-top: 15px !important;
  }
}

/* #### Galaxys5 Landscape #### */
@media (device-height: 360px) and (device-width: 640px) and (-webkit-min-device-pixel-ratio: 2){
  .logo{
    display: inline-block;
    top: 26px;
    position: absolute;
    left: calc(50% - 64px);
    width: 113px;
    z-index: 5000;
    overflow: hidden;
  }
  .container{
    margin-top: 15px !important;
  }
  .login-box{
    max-width: 450px !important;
    max-height: 200px !important;
  }
  .box{
    margin-top: -60px !important; 
  }
}




/* #### iPhone 5 Portrait#### */
@media (device-height: 568px) and (device-width: 320px) and (-webkit-min-device-pixel-ratio: 2){
  .logo{
    display: inline-block;
    top: calc(10);
    position: absolute;
    left: calc(50% - 75px);
    width: 150px;
    z-index: 5000;
    overflow: hidden;
  }
  .container{
    margin-top: 15px !important;
  }
}

/* #### iPhone 5 Landscape #### */
@media (device-height: 320px) and (device-width: 568px) and (-webkit-min-device-pixel-ratio: 2){
  .logo{
    display: inline-block;
    top: 8px;
    position: absolute;
    left: calc(50% - 62px);
    width: 110px;
    z-index: 5000;
    overflow: hidden;
  }
  .container{
    margin-top: 15px !important;
  }
  .login-box{
    max-width: 450px !important;
    max-height: 200px !important;
  }
  .box{
    margin-top: -50px !important; 
  }
}




/* #### iPhone 6 7 8 Portrait  #### */
@media (min-device-height: 667px) and (min-device-width: 375px) and (-webkit-min-device-pixel-ratio: 2){
  .logo{
    display: inline-block;
    top: 60px !important;
    position: absolute;
    left: calc(50% - 75px);
    width: 150px;
    z-index: 5000;
    overflow: hidden;
  }
  .container{
    margin-top: 15px !important;
  }
  
}

/* #### iPhone 6 7 8 Landscape#### */
@media (min-device-height: 375px) and (min-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2){
  .logo{
    display: inline-block;
    top: 13px !important;
    position: absolute;
    left: calc(50% - 73px);
    width: 136px;
    z-index: 5000;
    overflow: hidden;
  }
  .container{
    margin-top: 15px !important;
  }
  .login-box{
    max-width: 500px !important;
    max-height: 230px !important;
  }
  .box{
    margin-top: -30px !important; 
  }
}



/* #### Pixel2 Portrait#### */
@media (device-height: 731px) and (device-width: 411px) and (-webkit-min-device-pixel-ratio: 2){
  .logo{
    display: inline-block;
    top: 88px !important;
    position: absolute;
    left: calc(50% - 72px);
    width: 144px;
    z-index: 5000;
    overflow: hidden;
  }
  .container{
    margin-top: 15px !important;
  }
}

/* #### Pixel2 Landscape #### */
@media (device-height: 411px) and (device-width: 731px) and (-webkit-min-device-pixel-ratio: 2){
  .logo{
    display: inline-block;
    top: 19px !important;
    position: absolute;
    left: calc(50% - 72px);
    width: 144px;
    z-index: 5000;
    overflow: hidden;
  }
  .container{
    margin-top: 15px !important;
  }
  .login-box{
    max-width: 500px !important;
    max-height: 250px !important;
  }
}

/* #### iPhone 6 7 8 plus Portrait#### */
@media (min-device-height: 736px) and (min-device-width: 414px) and (-webkit-min-device-pixel-ratio: 2){
  .logo{
    display: inline-block;
    top: 93px !important;
    position: absolute;
    left: calc(50% - 75px);
    width: 150px;
    z-index: 5000;
    overflow: hidden;
  }
  .container{
    margin-top: 15px !important;
  }
}

/* #### iPhone 6 7 8 plus Landscape#### */
@media (min-device-height: 414px) and (min-device-width: 736px) and (-webkit-min-device-pixel-ratio: 2){
  .logo{
    display: inline-block;
    top: 23px !important;
    position: absolute;
    left: calc(50% - 75px);
    width: 150px;
    z-index: 5000;
    overflow: hidden;
  }
  .container{
    margin-top: 15px !important;
  }
  .login-box{
    max-width: 500px !important;
    max-height: 250px !important;
  }
}



/* #### iPhone X Portrait#### */
@media (min-device-height: 812px) and (min-device-width: 375px) and (-webkit-min-device-pixel-ratio: 2){
  .logo{
    display: inline-block;
    top: 127px !important;
    position: absolute;
    left: calc(50% - 75px);
    width: 150px;
    z-index: 5000;
    overflow: hidden;
  }
  .container{
    margin-top: 15px !important;
  }
}

/* #### iPhone X Landscape #### */
@media (min-device-height: 375px) and (min-device-width: 812px) and (-webkit-min-device-pixel-ratio: 2){
  .logo{
    display: inline-block;
    top: 9px !important;
    position: absolute;
    left: calc(50% - 71px);
    width: 142px;
    z-index: 5000;
    overflow: hidden;
  }
  .container{
    margin-top: 15px !important;
  }
  .login-box{
    max-width: 500px !important;
    max-height: 250px !important;
  }
}



/* #### Pixel2 XL Portrait#### */
@media (min-device-height: 823px) and (min-device-width: 411px) and (-webkit-min-device-pixel-ratio: 2){
  .logo{
    display: inline-block;
    top: 140px !important;
    position: absolute;
    left: calc(50% - 75px);
    width: 150px;
    z-index: 5000;
    overflow: hidden;
  }
  .container{
    margin-top: 15px !important;
  }
}

/* #### Pixel2 XL Landscape#### */
@media (min-device-height: 411px) and (min-device-width: 823px) and (-webkit-min-device-pixel-ratio: 2){
  .logo{
    display: inline-block;
    top: 8px !important;
    position: absolute;
    left: calc(50% - 75px);
    width: 150px;
    z-index: 5000;
    overflow: hidden;
  }
  .container{
    margin-top: 15px !important;
  }
  .login-box{
    max-width: 500px !important;
    max-height: 270px !important;
  }
}

/* #### iPad Portrait#### */
@media (min-device-height: 1024px) and (min-device-width: 768px) and (-webkit-min-device-pixel-ratio: 2){
  .logo{
    display: inline-block;
    top: 205px !important;
    position: absolute;
    left: calc(45% - 59px);
    width: 204px;
    z-index: 5000;
    overflow: hidden;
  }
  .container{
    margin-top: 15px !important;
  }
}

/* #### iPad Landscape#### */
@media (min-device-height: 768px) and (min-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2){
  .logo{
    display: inline-block;
    top: 96px !important;
    position: absolute;
    left: calc(45% - 48px);
    width: 176px;
    z-index: 5000;
    overflow: hidden;
  }
  .container{
    margin-top: 15px !important;
  }
}

/* #### iPad Pro Portrait #### */
@media (min-device-height: 1366px) and (min-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2){
  .logo{
    display: inline-block;
    top: 373px !important;
    position: absolute;
    left: calc(45% - 57px);
    width: 209px;
    z-index: 5000;
    overflow: hidden;
  }
  .container{
    margin-top: 15px !important;
  }
}



/* #### iPad Pro Portrait or Landscape#### */
@media (min-device-height: 1024px) and (min-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2){
  .logo{
    display: inline-block;
    top: 208px !important;
    position: absolute;
    left: calc(45% - 34px);
    width: 205px;
    z-index: 5000;
    overflow: hidden;
  }
  .container{
    margin-top: 15px !important;
  }
}

/* #### 1024 x 768 #### */
@media (min-device-height: 768px) and (min-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2){
  .logo{
    display: inline-block;
    top: 165px !important;
    position: absolute;
    left: calc(45% - 38px);
    width: 164px;
    z-index: 5000;
    overflow: hidden;
  }
  .container{
    margin-top: 15px !important;
  }
}

/* #### 1280 x 720 #### */
@media (min-device-height: 720px) and (min-device-width: 1280px) and (-webkit-min-device-pixel-ratio: 2){
  .logo{
    display: inline-block;
    top: 153px !important;
    position: absolute;
    left: calc(45% - 17px);
    width: 148px;
    z-index: 5000;
    overflow: hidden;
  }
  .container{
    margin-top: 15px !important;
  }
}

/* #### 1280 x 960 #### */
@media (min-device-height: 960px) and (min-device-width: 1280px) and (-webkit-min-device-pixel-ratio: 2){
  .logo{
    display: inline-block;
    top: 273px !important;
    position: absolute;
    left: calc(45% - 17px);
    width: 148px;
    z-index: 5000;
    overflow: hidden;
  }
  .container{
    margin-top: 15px !important;
  }
}

/* #### 1920 x 1080 #### */
@media (min-device-height: 1080px) and (min-device-width: 1920px) and (-webkit-min-device-pixel-ratio: 2){
  .logo{
    display: inline-block;
    top: 248px !important;
    position: absolute;
    left: calc(45% - 6px);
    width: 191px;
    z-index: 5000;
    overflow: hidden;
  }
  .container{
    margin-top: 15px !important;
  }
  .login-box{
    max-width: 700px !important;
    max-height: 400px !important;
  }
  .box{
    margin-top: -5px !important; 
  }
}

/* #### 2048 x 1536 #### */
@media (min-device-height: 1536px) and (min-device-width: 2048px) and (-webkit-min-device-pixel-ratio: 2){
  .logo{
    display: inline-block;
    top: 454px !important;
    position: absolute;
    left: calc(45% - 6px);
    width: 215px;
    z-index: 5000;
    overflow: hidden;
  }
  .container{
    margin-top: 15px !important;
  }
  .login-box{
    max-width: 900px !important;
    max-height: 600px !important;
  }
  .box{
    margin-top: 2px !important; 
  }
}

/* #### 2560 x 1920 #### */
@media (min-device-height: 1920px) and (min-device-width: 2560px) and (-webkit-min-device-pixel-ratio: 2){
  .logo{
    display: inline-block;
    top: 645px !important;
    position: absolute;
    left: calc(45% - -14px);
    width: 215px;
    z-index: 5000;
    overflow: hidden;
  }
  .container{
    margin-top: 15px !important;
  }
  .login-box{
    max-width: 1024px !important;
    max-height: 800px !important;
  }
  .box{
    margin-top: 2px !important; 
  }
}

/* #### Tablets Portrait or Landscape #### */
@media screen and (min-device-width: 768px) and (max-device-width: 1024px){
  /* some CSS here */
}

/* #### Desktops #### */
@media screen and (min-width: 1024px){
  /* some CSS here */
}