body {
  margin: 0;
  padding: 0;
  background: url(bg.png);
  background-size: cover;
  background-position: center;
  font-family: sans-serif;
}
.login-box {
  width: 85%;
  height: 420px;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  padding: 70px 30px;
}
.avatar {
  height: 100px;
  border-radius: 50%;
  position: absolute;
  top: calc(2% - 74.16px);
  left: calc(40% - 40px);
  max-width: 170px;
  display: block;
}
h1 {
  margin: 0;
  padding: 0 0 20px;
  text-align: center;
  font-size: 22px;
}
.login-box p {
  margin: 0;
  padding: 0;
  font-weight: bold;
}
.login-box input {
  width: 100%;
  margin-bottom: 20px;
}
.login-box input[type="text"],
input[type="password"] {
  border: none;
  border-bottom: 1px solid #fff;
  background: transparent;
  outline: none;
  height: 40px;
  color: #fff;
  font-size: 16px;
}
.login-box input[type="submit"] {
  border: none;
  outline: none;
  height: 40px;
  background: #1c8adb;
  color: #fff;
  font-size: 18px;
  border-radius: 20px;
}
.login-box input[type="submit"]:hover {
  cursor: pointer;
  background: #39dc79;
  color: #000;
}

.login-box a {
  text-decoration: none;
  font-size: 14px;
  color: #fff;
}
.login-box a:hover {
  color: #39dc79;
}
